<!DOCTYPE html>
<html>
<head><title>PING JERS PHONE</title></head>
<body>
    <style>
        #activeUsers {
            float: right;
        }
        .idleTime {
            font-size: 0.8em;
        }
    </style>    
    <div id="mainContent">
    <div id="onlineElements" style="display:none;">
        {% if username %}
            <p>You are pinging Jer as: {{ username }}.</p>
        {% else %}
            <p>If you are not logged in, you will ping anonymously.</p>
        {% endif %}
        <button onclick="pingJer()" id="pingButton">Ping Jer!</button>
    </div>

    <p>System Status</p>
    <div id="statusLight" style="width: 20px; height: 20px; border-radius: 50%; display: inline-block;"></div>
    </div>
    <div id="activeUsers" style="float: right;">
        <h3>Active Users</h3>
        <ul>
            {% for user, idle_time in active_users_idle_times.items() %}
                <li>{{ user }} <span class="idleTime">({{ idle_time }}s)</span></li>
            {% endfor %}
        </ul>
    </div>

    <footer>
        {% if username %}
            <a href="/logout">Logout</a><BR>
        {% else %}
            <a href="/login">Login</a><BR>
        {% endif %}
        {% if username == 'admin' %}
        <a href="/admin">Go to Admin Page</a><BR>
        {% endif %}
        <small>
            I wrote this just to experiment with the ntfy app, and Cloudflare tunnels, and to practice a little with Python.<br>
            All it does is uses ntfy to send me a message to my phone saying
someone "Pinged" me.
            I don't even see your IP with this app.
        </small>
    </footer>

<script>
    function updateStatus() {
        fetch('/status')
            .then(response => response.json())
            .then(data => {
                let displayValue = data.online ? 'block' : 'none';
                document.getElementById('onlineElements').style.display = displayValue;
                document.getElementById('statusLight').style.backgroundColor = data.online ? 'green' : 'red';
            });
    }

    function pingJer() {
        let name;
        {% if username %}
            name = "{{ username }}";
        {% else %}
            name = "Anon Pinger";
        {% endif %}

        fetch('/ping', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ name: name })
        }).then(response => response.json()).then(data => {
            if (data.status === 'success') {
                alert('Ping Successful');
            } else {
                alert('Ping Failed');
            }
        });
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        updateStatus();
    });
</script>
</body>
</html>

