body {
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

body {
    padding-bottom: 60px; /* Adjust based on the height of your footer */
}
header a:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}
#chatContainer {
    width: 100%;
    max-width: 1200px; /* or whatever maximum width you prefer */
    margin: 0 auto; /* centers the container */
}

#chatBox {
    position: relative; /* or absolute, depending on your layout needs */
    /* ... other styles ... */
}