<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>
    <h1>Register</h1>
    <form method="post" action="/register">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <br>
        <input type="submit" value="Register">
    </form>
</body>
<footer>
    {% if username %}
    <a href="/logout">Logout</a><BR>
{% else %}
    <a href="/login">Login</a><BR>
{% endif %}
{% if username == 'admin' %}
<a href="/admin">Go to Admin Page</a><BR>
{% endif %}
</footer>
</html>
